A4_Client_QiMeng/web/WEB-INF/wsdl/mengqi_8080/A4_WebService_QiMeng/QiMengWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://qimeng/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://qimeng/" name="QiMengWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://qimeng/" schemaLocation="http://mengqi:8080/A4_WebService_QiMeng/QiMengWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="excuteSQL">
<part name="parameters" element="tns:excuteSQL"/>
</message>
<message name="excuteSQLResponse">
<part name="parameters" element="tns:excuteSQLResponse"/>
</message>
<message name="listPurchases">
<part name="parameters" element="tns:listPurchases"/>
</message>
<message name="listPurchasesResponse">
<part name="parameters" element="tns:listPurchasesResponse"/>
</message>
<message name="placeOrder">
<part name="parameters" element="tns:placeOrder"/>
</message>
<message name="readTable">
<part name="parameters" element="tns:readTable"/>
</message>
<message name="readTableResponse">
<part name="parameters" element="tns:readTableResponse"/>
</message>
<portType name="QiMengWebService">
<operation name="hello">
<input wsam:Action="http://qimeng/QiMengWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://qimeng/QiMengWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="excuteSQL">
<input wsam:Action="http://qimeng/QiMengWebService/excuteSQLRequest" message="tns:excuteSQL"/>
<output wsam:Action="http://qimeng/QiMengWebService/excuteSQLResponse" message="tns:excuteSQLResponse"/>
</operation>
<operation name="listPurchases">
<input wsam:Action="http://qimeng/QiMengWebService/listPurchasesRequest" message="tns:listPurchases"/>
<output wsam:Action="http://qimeng/QiMengWebService/listPurchasesResponse" message="tns:listPurchasesResponse"/>
</operation>
<operation name="placeOrder">
<input wsam:Action="http://qimeng/QiMengWebService/placeOrder" message="tns:placeOrder"/>
</operation>
<operation name="readTable">
<input wsam:Action="http://qimeng/QiMengWebService/readTableRequest" message="tns:readTable"/>
<output wsam:Action="http://qimeng/QiMengWebService/readTableResponse" message="tns:readTableResponse"/>
</operation>
</portType>
<binding name="QiMengWebServicePortBinding" type="tns:QiMengWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excuteSQL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listPurchases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="placeOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="readTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QiMengWebService">
<port name="QiMengWebServicePort" binding="tns:QiMengWebServicePortBinding">
<soap:address location="http://mengqi:8080/A4_WebService_QiMeng/QiMengWebService"/>
</port>
</service>
</definitions>