A4_Client_QiMeng/src/conf/xml-resources/web-service-references/QiMengWebService/wsdl/mengqi_8080/A4_WebService_QiMeng/QiMengWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://qimeng/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://qimeng/">

<xs:element name="excuteSQL" type="tns:excuteSQL"/>

<xs:element name="excuteSQLResponse" type="tns:excuteSQLResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="listPurchases" type="tns:listPurchases"/>

<xs:element name="listPurchasesResponse" type="tns:listPurchasesResponse"/>

<xs:element name="placeOrder" type="tns:placeOrder"/>

<xs:element name="readTable" type="tns:readTable"/>

<xs:element name="readTableResponse" type="tns:readTableResponse"/>

<xs:complexType name="readTable">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readTableResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listPurchases">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listPurchasesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="placeOrder">
<xs:sequence>
<xs:element name="customerId" type="xs:string" minOccurs="0"/>
<xs:element name="productIds" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="quantities" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="excuteSQL">
<xs:sequence>
<xs:element name="sql" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="excuteSQLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>